[workspace]
members = [
    "substreams/*",
]

[workspace.dependencies]
substreams = "0.5.0"
substreams-antelope-core = "0.0.3"

[build]
target = "wasm32-unknown-unknown"

[profile.release]
lto = true
opt-level = 's'
strip = "debuginfo"
